web/sites/*/settings.local.php
/web/sites/*/services*.yml
!/web/sites/*/services.yml
/web/sites/*/files


/drush/Commands/contrib/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/

/vendor/
/.editorconfig
/.gitattributes
/.drush-lock-update
/web/**/.gitignore
/web/sites/default/robots-copy.txt
~/
/tmp/*
/web/sites/default/settings.php
/web/sites/development.services.yml
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/sites/default/example.settings.local.php
web/sites/default/example.sites.php
